@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}

body {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 4rem;
  font-size: 100%;
  background-color: var(--gray-50);
  font-weight: 500;

  --color-primary: var(--blue-500);
  --font-primary: "Inter", sans-serif;
  
  --effect-box-shadow-32-primary: 0 0.25rem 1rem 0 rgba(0, 166, 251, 0.32);
  --effect-box-shadow-48-primary: 0 0.25rem 1rem 0 rgba(0, 166, 251, 0.48);
  --effect-box-shadow-56-primary: 0 0.25rem 1rem 0 rgba(0, 166, 251, 0.56);

  --effect-box-shadow-32-light: 0 0.25rem 1rem 0 rgba(255, 255, 255, 0.32);
  --effect-box-shadow-48-light: 0 0.25rem 1rem 0 rgba(255, 255, 255, 0.48);
  --effect-box-shadow-56-light: 0 0.25rem 1rem 0 rgba(255, 255, 255, 0.56);
  
  --effect-box-shadow-08-dark: 0 0.25rem 1rem 0 rgba(0, 0, 0, 0.08);
  --effect-box-shadow-12-dark: 0 0.25rem 1rem 0 rgba(0, 0, 0, 0.12);
  --effect-box-shadow-16-dark: 0 0.25rem 1rem 0 rgba(0, 0, 0, 0.16);

  --blue-50: #eff9ff;
  --blue-100: #def1ff;
  --blue-200: #b6e5ff;
  --blue-300: #75d2ff;
  --blue-400: #2cbcff;
  --blue-500: #00a6fb;
  --blue-600: #0082d4;
  --blue-700: #0067ab;
  --blue-800: #00578d;
  --blue-900: #064974;
  --blue-950: #042e4d;

  --white: #ffffff;
  --gray-50: #f7f7f7;
  --gray-100: #e7e7e7;
  --gray-200: #d1d1d1;
  --gray-300: #b0b0b0;
  --gray-400: #888888;
  --gray-500: #6d6d6d;
  --gray-600: #5d5d5d;
  --gray-700: #4f4f4f;
  --gray-800: #454545;
  --gray-900: #3d3d3d;
  --gray-950: #121212;
  --dark: #0a0a0a;
}

body,
input,
button {
  font-family: var(--font-primary);
}

main {
  margin-top: 2rem;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 4rem;

}

.content > :last-child {
  margin-top: 4rem;
}

.title {
  color: var(--color-primary);
  font-weight: 700; /* font-weight: espessura da fonte */
}

.title--main{
  font-size: 3rem; /* font-size: Tamanho da fonte */
}


