@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-size: 1rem;
  background-color: var(--gray-50);
  font-weight: 500;

  --cor-primaria: var(--blue-500);
  --fonte-primaria: "Inter", sans-serif;
  --efeito-box-shadow-32: 0 4px 16px 0 rgba(0, 166, 251, 0.32);
  --efeito-box-shadow-56: 0 4px 16px 0 rgba(0, 166, 251, 0.56);

  --blue-50: #eff9ff;
  --blue-100: #def1ff;
  --blue-200: #b6e5ff;
  --blue-300: #75d2ff;
  --blue-400: #2cbcff;
  --blue-500: #00a6fb;
  --blue-600: #0082d4;
  --blue-700: #0067ab;
  --blue-800: #00578d;
  --blue-900: #064974;
  --blue-950: #042e4d;

  --white: #ffffff;
  --gray-50: #f7f7f7;
  --gray-100: #e7e7e7;
  --gray-200: #d1d1d1;
  --gray-300: #b0b0b0;
  --gray-400: #888888;
  --gray-500: #6d6d6d;
  --gray-600: #5d5d5d;
  --gray-700: #4f4f4f;
  --gray-800: #454545;
  --gray-900: #3d3d3d;
  --gray-950: #121212;
  --dark: #0a0a0a;
}

body,
input,
button {
  font-family: var(--fonte-primaria);
}

h1 {
  color: var(--cor-primaria);
  font-size: 3rem;
  font-weight: 700;
}

button {
  padding: 16px 24px;
  height: auto;
  width: auto;
  border-radius: 12px;
  background-color: var(--cor-primaria);
  border: 3px solid transparent;
  cursor: pointer;
  outline: none;
  transition: 0.3s background-color ease-in-out, 0.3s border-color ease-in-out,
    0.3s transform ease-in-out, 0.3s box-shadow ease-in-out;

  color: var(--gray-50);
  font-size: 1rem;
  font-weight: 600;
}

button:hover {
  background-color: var(--blue-600);
  transform: translateY(-0.2rem);

  box-shadow: var(--efeito-box-shadow-56);
}

button:focus {
  background-color: var(--blue-700);
  border-color: var(--cor-primaria);
  box-shadow: var(--efeito-box-shadow-32);
}

input {
  width: 280px;
  border: 2px solid var(--gray-200);
  padding: 0px 16px;
  height: 56px;
  border-radius: 8px 0px 0px 8px;
  background-color: var(--gray-50);
  transition: 0.3s background-color ease-in-out, 0.3s color ease-in-out,
    0.3s border-color ease-in-out;
  outline: none;

  font-size: 1rem;
  font-weight: 400;
  color: var(--gray-400);
}

input:hover {
  border-color: var(--gray-300);
  color: var(--gray-500);
}

input:focus {
  border-color: var(--cor-primaria);
}

input:focus + i {
  background-color: var(--cor-primaria);
  color: var(--gray-100);
}

span {
  display: flex;
}

i {
  font-size: 24px;
  color: var(--gray-700);
  background-color: var(--gray-200);
  padding: 16px 12px;
  border-radius: 0 8px 8px 0;
  transition: 0.3s background-color ease-in-out, 0.3s color ease-in-out;
}

i:hover {
  background-color: var(--gray-300);
  color: var(--gray-800);
}
