@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}

body {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 64px;
  font-size: 16px;
  background-color: var(--gray-50);
  font-weight: 500;

  --cor-primaria: var(--blue-500);
  --fonte-primaria: "Inter", sans-serif;
  --efeito-box-shadow-32-primaria: 0 4px 16px 0 rgba(0, 166, 251, 0.32);
  --efeito-box-shadow-32-light: 0 4px 16px 0 rgba(255, 255, 255, 0.32);
  --efeito-box-shadow-56-primaria: 0 4px 16px 0 rgba(0, 166, 251, 0.56);
  --efeito-box-shadow-56-light: 0 4px 16px 0 rgba(255, 255, 255, 0.56);

  --blue-50: #eff9ff;
  --blue-100: #def1ff;
  --blue-200: #b6e5ff;
  --blue-300: #75d2ff;
  --blue-400: #2cbcff;
  --blue-500: #00a6fb;
  --blue-600: #0082d4;
  --blue-700: #0067ab;
  --blue-800: #00578d;
  --blue-900: #064974;
  --blue-950: #042e4d;

  --white: #ffffff;
  --gray-50: #f7f7f7;
  --gray-100: #e7e7e7;
  --gray-200: #d1d1d1;
  --gray-300: #b0b0b0;
  --gray-400: #888888;
  --gray-500: #6d6d6d;
  --gray-600: #5d5d5d;
  --gray-700: #4f4f4f;
  --gray-800: #454545;
  --gray-900: #3d3d3d;
  --gray-950: #121212;
  --dark: #0a0a0a;
}

body,
input,
button {
  font-family: var(--fonte-primaria);
}

main {
  margin-top: 32px;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 64px;
}

.content > :last-child {
  margin-top: 64px;
}

.header__title {
  color: var(--cor-primaria);
  font-size: 3rem; /* font-size: Tamanho da fonte */
  font-weight: 700; /* font-weight: espessura da fonte */
}

.button--primary {
  padding: 16px 24px; /* padding: espaçamento interno  */
  height: auto; /* height: altura do componente */
  width: auto; /* width: largura do componente */
  border-radius: 12px; /* border-radius: Arredondamento do componente */
  background-color: var(
    --cor-primaria
  ); /* background-color: Cor de fundo do componente */
  border: 3px solid transparent;
  cursor: pointer;
  outline: none; /* outline: Borda extra do componente */
  transition: 0.3s background-color ease-in-out, 0.3s border-color ease-in-out,
    0.3s transform ease-in-out, 0.3s box-shadow ease-in-out; /* transition: Delay na mudança do componente */
  /*ease-in-out: Suavizar o começo e o fim da transição */

  color: var(--gray-50); /*color: Cor da fonte */
  font-size: 1rem;
  font-weight: 600;
}
/* Pseudo-classes: Ex: Hover e focus, são os estados do componente, se iniciam 
com dois pontos (:) */

.button--primary:hover {
  /* hover: Passando o mouse sobre o componente */
  background-color: var(--blue-600);
  transform: translateY(-0.2rem); /* transform: Mudar o componente */
  /* translateY: Movendo para cima ou para baixo */

  box-shadow: var(
    --efeito-box-shadow-56-primaria
  ); /* box-shadow: Sobreado do componente */
}

.button--primary:focus {
  background-color: var(--blue-700);
  border-color: var(--cor-primaria);
  box-shadow: var(--efeito-box-shadow-32-primaria);
}

.input--search {
  width: 280px;
  border: 2px solid var(--gray-200);
  padding: 0px 16px;
  height: 56px;
  border-radius: 8px 0px 0px 8px;
  background-color: var(--gray-50);
  transition: 0.3s background-color ease-in-out, 0.3s color ease-in-out,
    0.3s border-color ease-in-out;
  outline: none;

  font-size: 1rem;
  font-weight: 400;
  color: var(--gray-400);
}

.input--search:hover {
  border-color: var(--gray-300);
  color: var(--gray-500);
}

.input--search:focus {
  border-color: var(--cor-primaria);
}

.input--search:focus + .icon--search {
  background-color: var(--cor-primaria);
  color: var(--gray-100);
}

.box__input,
.box__button {
  display: flex;
  justify-content: center; /* Justify-content/Justificar conteudo na horizontal */
}

.icon--search {
  font-size: 24px;
  color: var(--gray-700);
  background-color: var(--gray-200);
  padding: 16px 12px;
  border-radius: 0 8px 8px 0;
  transition: 0.3s background-color ease-in-out, 0.3s color ease-in-out;
}

.icon--search:hover {
  background-color: var(--gray-300);
  color: var(--gray-800);
}

.box__task {
  flex-direction: column;
  display: flex;
  gap: 32px;
}

.task--title {
  font-size: 2rem;
  font-weight: 500;
  color: var(--gray-400);
}

.task__cards {
  flex-wrap: wrap;
  display: flex;
  gap: 32px; /* gap: Espaçamento entre os componentes FILHOS de um grupo */
}
.card {
  box-sizing: border-box;
  width: 380px;
  border-radius: 12px;
  transition: 0.3s box-shadow ease-in-out;
  padding: 24px;
  display: flex;
  gap: 32px;
  flex-direction: column; /*flex-direction: Muda direção dos filhos */
  font-size: 1.125rem;
}

.card--header {
  display: flex;
  justify-content: space-between;
}

.card--description {
  font-weight: 700;
}

.card--blue {
  background-color: var(--cor-primaria);
  box-shadow: var(--efeito-box-shadow-32-light);
  color: var(--gray-100);
}
.card--blue:hover {
  box-shadow: var(--efeito-box-shadow-56-light);
}

.card--white {
  color: var(--gray-400);
  background-color: var(--white);
  box-shadow: var(--efeito-box-shadow-32-primaria);
}

.card--white:hover {
  box-shadow: var(--efeito-box-shadow-56-primaria);
}

.card--button {
  display: flex;
  justify-content: flex-end;
}

.button-state {
  padding: 8px 24px;
  border-radius: 64px;
  outline: none;
  border: none;
  font-weight: 600;
  font-size: 1rem;
  transition: 0.3s box-shadow ease-in-out, 0.3s color ease-in-out, 0.3s background-color ease-in-out;
}

.state--concluido{
  color: var(--cor-primaria);
  box-shadow: var(--efeito-box-shadow-32-light);
}

.state--concluido:hover{
  box-shadow: var(--efeito-box-shadow-56-light);
}

.state--nao-concluido{
  color: var(--gray-50) ;
  background-color: var(--cor-primaria);
  box-shadow: var(--efeito-box-shadow-32-primaria);
}

.state--nao-concluido:hover{
  box-shadow: var(--efeito-box-shadow-56-primaria);
}

